.main {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  margin-top: 70px;
}

.topic {
  height: 30px;
  text-align: center;
}
.title {
  text-align: center;
}
.detail {
  margin-top: 20px;
  text-align: center;
}
