{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "rules": {
      "babel/object-shorthand": 1,
        "react/prop-types": 1,
        "react/sort-comp": 1,
        "react/forbid-prop-types": 0,
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js"
             }
        }
    },
    "plugins": [
         "babel",
         "react",
         "jsx-a11y",
         "import",
    ]
}
